/* START Header Section */
header {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 0 50px;

  & > nav {

    & > ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      list-style-type: none;

      & > li {

        & > a {
          font-weight: 600;
          font-size: 30px;
          text-decoration: none;
          color: var(--dark-blue);
          
          & > button {
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 17px;
            color: var(--text-white);
            background-color: var(--dark-blue);
          }
        }
      }
    }
  }
}
/* END Header Section */
