/* START Responsive Section */
@media all and (max-width: 992px) {
  main {
    display: block;

    & > #left-side {
      width: 100%;
      margin-bottom: 50px;
    }

    & > #right-side {
      width: 100%;
    }
  }

  section {

    & > article {

      &:hover {
  
        & > svg {
          left: 75%;
        }
      }

      & > div {

        & > div {

          & > a {

            &:hover {
              padding: 3px 10px;
            }
          }
        }
      }
    }

    & > article:first-child {
      font-size: 40px;
    }
  }
}

@media all and (max-width: 800px) {
  main {

    & > #right-side {

      & > div {
        width: 140px;

        & > h4 {
          font-size: 16px;
        }

        & > p {
          font-size: 18px;
        }
      }

      & > #course-hours-div {
        left: 30px;
      }
  
      & > #members-div {
        right: 30px;
      }
    }
  }

  section {

    & > article {
      width: 48%;
    }
  }
}

@media all and (max-width: 610px) {
   header {
    padding: 0 20px;
   }

  main {
    padding: 30px 20px;

    & > #right-side {

      & > #course-hours-div {
        left: 5px;
      }
  
      & > #members-div {
        right: 5px;
      }
    }
  }

  section {
    padding: 30px 20px;

    & > article {
      width: 100%;

      &:hover {

        & > svg {
          left: 85%;
        }
      }
    }
  }

  footer {
    padding: 30px 20px;
  }
}

@media all and (max-width: 450px) {
  main {

    & > #right-side {

      & > #bg-of-img {
        width: 70%;
      }

      & > #girl-photo {
        width: 150%;
      }

      & > #course-hours-div {
        width: 120px;
        left: -10px;
      }

      & > #members-div {
        width: 120px;
        right: -10px;
      }
    } 
  }

  footer {
    
    & > nav {

      & > ul {

        & > li {

          & > a {
            display: flex;


            & > button {
              font-size: 16px;
              padding: 5px;
            }
          }

          & > #social-media-links {

            & > li {

              & > a {

                & > svg {
                  padding: 2px;
                  width: 1.6rem;
                  height: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
 }

@media all and (max-width: 400px) {
  

  section {

    & > article {

      &:hover {

        & > svg {
          left: 80%;
       }
     }
   }
 }
}
/* END Responsive Section */